*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.filmContainer{
    width: 100%;
    overflow-x: scroll;
    display: flex;
    flex-wrap: nowrap;
}
.film{
    min-width: 18rem;
    max-width: 18rem;

}
.filmTitle{
    height: 5rem;
    overflow: hidden;
}